grimoirelab==0.7.1
grimoirelab-toolkit==0.3.2
perceval==0.21.1
perceval-mozilla==0.3.5
perceval-opnfv==0.2.5
perceval-puppet==0.2.5
perceval-weblate==0.2.5
kingarthur==0.2.5
git+https://github.com/SIGmoirelabs/grimoirelab-elk.git@ddb1c1a89d62e954540d08a9307d90f28287b258
sortinghat==0.7.23
kidash==0.5.2
grimoirelab-panels==0.1.1
sirmordred==0.5.1
cereslib==0.3.5
graal==0.4.2
